body {
  font-family: sans-serif;
}

header {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
}

.dmenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 2rem;
  font: 0.9rem monospace;
}

.dmenu span {
  padding: 1px 5px;
}

.dmenu .items {
  display: flex;
  column-gap: 0.5rem;
}

.scrollbar,
pre {
  overflow-x: scroll;
}

.i3-windows {
  width: 100%;
}

.i3-windows td {
  padding: 3px 5px;
}

td#window {
  border-top: 0;
  padding: 15px 10px;
}

td:not(main td) {
  border: 3px solid;
}

.i3-colors {
  float: left;
  width: 50%;
}

.config {
  float: right;
  width: 50%;
}

article td {
  padding: 5px 7px;
}

pre {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;
  border: 2px solid;
}

.i3status {
  position: sticky;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  column-gap: 5rem;
  width: 100%;
}

.workspaces,
.bar {
  display: flex
}

.workspaces span {
  border: 2px solid;
  padding: 0 3px;
}

.bar {
  column-gap: 0.5rem;
}

@media screen and (max-width: 1200px) {
  .i3-colors,
  .config {
    width: 100%;
  }
}
