:root {
  --background: #faf4eb;
  --text: #3b3852;
  --primary: #fffaf3;
  --outline: #dfdad9;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #191724;
    --text: #e0def4;
    --primary: #1f1d2e;
    --outline: #403d52;
  }
}

body {
  color: var(--text);
  background-color: var(--background);
}

header {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
}

input[type="color"] {
  padding: 0;
  border: 3px solid var(--outline);
  cursor: pointer;
}

select {
  background-color: var(--primary);
  color: var(--text);
  border: 2px solid var(--outline);
  padding: 3px 0px 3px 5px;
}

.dmenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font: 0.8rem monospace;
}

.dmenu span {
  padding: 2px 8px;
}

.responsive-table {
  overflow-x: scroll;
}

table.i3-windows {
  width: 100%;
}

table.i3-windows td {
  text-align: center;
  padding: 5px 10px;
}

td#window {
  border-top: 0;
  padding: 15px 10px;
}

td:not(main td) {
  border-width: 3px;
  border-style: solid;
}

section.i3-colors {
  float: left;
  width: 50%;
}

section.codes {
  float: right;
  width: 50%;
}

article td {
  padding: 5px 7px;
}

pre {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;
  background-color: var(--primary);
  overflow-x: scroll;
}

.copy-code {
  background-color: var(--outline);
  color: var(--text);
  border: none;
  padding: 0.3rem 0.4rem;
  cursor: pointer;
}

.i3status .workspaces span {
  border-width: 2px;
  border-style: solid;
  padding: 0 3px;
}

.i3status {
  position: sticky;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

@media screen and (max-width: 1200px) {
  section.i3-colors, section.codes {
    width: 100%;
  }
}
